<footer class="mdl-mini-footer" style="justify-content: center;">
    <div class="mdl-mini-footer--bottom-section">
        <ul class="mdl-mini-footer--link-list">
            <li><a ng-click="redirect('/')">Home</a></li>
            <li><a ng-click="redirect('/services')">Services</a></li>
            <li><a ng-click="redirect('/articles')">Articles</a></li>
        </ul>
        <div class="mdl-logo" style="float:inherit; text-align: center;">
            StackLoft 2015
        </div>
    </div>
</footer>